@import './base.css';
/*@import "tailwindcss";*/
@import 'swiper/swiper-bundle.css';

::-webkit-scrollbar {
  width: 8px; /* size of the scrollbar */
  height: 8px; /* for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* fully hide the track */
  margin: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #dddddd77; /* color of the indicator */
  border-radius: 10px; /* round edges */
  border: 2px solid transparent; /* ensures track stays hidden */
}

* {
  scrollbar-width: none;
}

body {
  display: flex;
  place-items: center;
}

#app {
  display: flex;
  place-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.2s;
  padding: 3px;
}

@media (max-width: 1200px) {
  body {
    place-items: start;
  }

  #app {
    flex-direction: column;
    place-content: start;
    place-items: start;
  }
}
